
<div class="login">
  <div class="login-header">
      <div class="logo">
        <label>GUT</label>
      </div>
  </div>
  <br/>
  <h1> Sorry, </h1>
  <h2>De testperiode is helaas afgelopen</h2>
</div>
