<header>
    <div class="user">
        <div class="username">
            Deze test is gemaakt door:
            <span><%= @test.user.email %></span>
        </div>
    </div>

    <h3>Einde van de <%= @test.title %></h3>
</header>

    <div class="thanks">
        <h2>Bedankt voor je deelname aan de test!</h2>
        <p><%= @test.outrotext %></p>
    </div>
</div>