<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hallo beste tester!</h1>
    <p>
      U bent uitgenodigd voor een user test op GUT.
      Deze user test is gemaakt door Henkiebob(placeholder) <%# <%= @user.name %> en de test heet <%= @usertest.title %>.<br>
    </p>
    <p>
      Om mee te doen aan deze user test moet u de volgende link volgen: <%= @url %>.
    </p>
    <p>Alvast bedankt voor het mee doen!</p>
  </body>
</html>