/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require RRSSB/scss/rrssb
 */

 *
{
margin: 0;
padding: 0;
box-sizing:border-box;
-moz-box-sizing:border-box;
}

.h1,h2,h3,h4,h5{
	line-height:40px;
}
@font-face {
font-family: 'BariolRegular';
src: url('/assets//BariolRegular.eot');
src: local('BariolRegular'), url('/assets/BariolRegular.woff') format('woff'), url('/assets/BariolRegular.ttf') format('truetype');
}

html
{
	width: 100%;
	height: 100%;
}

body
{
	background-color: #d8d9db ;
	width: 100%;
	height: 100%;
	font-family: "BariolRegular";
}


#header
{
	background-color: #242d38;
	width: 100%;
	height: 80px;
	float: left;
}

.logo
{
	background-color: #3792e3;
	width: 280px;
	padding: 10px;
	height: 80px;
	float: left;
}

.logo label
{
	color: white;
	text-align: center;
	font-size: 70px;
	font-family: "BariolRegular";
	margin-left: 70px;
}

.sidebar
{
	width: 280px;
	height: 100%;
	background-color: #242d38;
	float: left;
}

.navbar-link{
	color:#fff;
	font-size:14px;
	text-decoration:none;
}

.menu a
{
	width: 100%;
	padding: 10px;
	height: 55px;
	float: left;
	color: white;
	font-size: 16px;
	text-decoration: none;
	font-family: "BariolRegular";
}

.menu a.selected
{
	border-left: 10px solid #2a93dd;
	background-repeat: no-repeat;
	background-position: left;
}

.menu a.selected i
{
	margin-left: 10px;
}

i
{
	width: 28px;
	height: 28px;
	display: block;
	background-repeat: no-repeat;
	float: left;
	margin-left: 20px;
}

.dashboard_icon
{
	background-image: url('dashboard_icon.png');
}

.finished_icon
{
	background-image: url('Publishedtest-icon.png');

}

.tips_icon
{
	background-image: url('Finishedtest-icon.png');

}

.menu a span
{
margin-left: 10px;
line-height: 30px;
}

.userdata
{
	float: right;
	width: 300px;
	height: 80px;
	padding: 15px;
}

.userdata .avatar
{
	border-radius: 50%;
	margin-right: 10px;
	float: left;
}

.userinfo 
{
	color:white;
	float: left;
}

.userinfo span
{
	float: left;
}

.userinfo span.name
{
	color: white;
	font-size: 14px;
}

.userinfo span.editprofile
{
	color: white;
	font-size: 12px;
}

.btn_create
{
	width: 221px;
	height: 200px;
	background-color: white;
	border:2px dashed #000;
	margin: 20px;
	cursor: pointer;
	float:left;
	padding:10px;
	text-decoration: none;
	color:black;
	text-align: center;
}

.content
{
	margin: 50px;
	float: left;
	min-height: 500px;
	width: 960px;

}

.content-container
{
	background-color: #f6f6f6;
	width: 77%;
	float: left;
	padding:20px;
}

.content-header
{
	height: 80px;
	width: 100%;
	padding: 10px;
	background-color: white;
}

.content-header h1
{
	font-size: 20px;
	text-transform: uppercase;
	color: #b0b0b0;
	float: left;
}	

.addform input[type="text"]
{
	height: 35px;
	border: 1px solid #cdcdcd;
	font-size: 20px;
	width: 30%;
	padding:10px;
	margin-bottom:10px;
}


.addform input[type="file"]{
	margin-bottom:10px;
	font-size:12px;
	color:#000;
	width:30%;
	padding:10px;
}

.addform label
{
	font-family: "BariolRegular";
	text-align: left;
	font-size: 14px;
	color: #4a4a4a;
	width:200px;
	display: inline-block;
}

.addform textarea
{
	border: 1px solid #cdcdcd;
	display: block;
	height: 100px;
	width:50%;
	padding:10px;
	font-size:14px;
	margin-bottom:10px;
}

.addform select
{
	margin-bottom:10px;
}

.content-footer
{
	background-color: #242d38;
	width: 100%;
	height: 20px;
	margin-top: 90px;
}

.content-finished
{
	width: 1000px;
	height: 500px;
	float: left;
	margin: 20px;
}


.test h1
{
	font-family: "BariolRegular";
	margin: 20px;
	font-weight: normal;
}

.test
{
	width: 221px;
	height: 200px;
	background-color: #ededed;
	margin: 20px;
	display:inline-block;
}

.test-header
{
	width: 100%;
	height: 81px;
	float: left;
	padding: 5px;
}

.backgroundimage
{
	background-image: url('Bitmap.png');
	width: 100%;
	height: 86px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.backgroundimage h3
{
	color: white;
	padding-top: 40px;
}

.backgroundimage span
{
	color: white;
	font-size: 25px;
	font-weight: bold;
}

.testfooter
{	

	background-image: url('eye.png');
	float: left;
	width: 31px;
	height: 18px;
}

.testfooter2
{	
	background-image: url('chart.png');
	float: left;
	width: 31px;
	height: 29px;
}

.button{
  width:100px;
  background:#3399cc;
  display:block;
  margin:0 auto;
  margin-top:1%;
  padding:10px;
  text-align:center;
  text-decoration:none;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

.button:hover{
  background:#2288bb;
}

#login{
  width:400px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

#triangle{
  width:0;
  border-top:12x solid transparent;
  border-right:12px solid transparent;
  border-bottom:12px solid #3399cc;
  border-left:12px solid transparent;
  margin:0 auto;
}

#login h1{
  background:#3399cc;
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}

.login{
	width:400px;
	margin:0 auto;
}

.login form{
  background:#f0f0f0;
  padding:6% 4%;
}

.login input[type="email"], .login input[type="password"]{
  width:92%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}

input[type="submit"]{
  width:200px;
  background:#3399cc;
  border:0;
  padding:10px;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

.login input[type="submit"]:hover{
  background:#2288bb;
}

.glyphtest{
	display:none;
}

.singleImage{
	display:block;
}

.multipleImages{
	display:none;
}

.alert{
	width:100%;
	height:40px;
	padding:10px;
	text-align:center;
	font-size:16px;
	background:#d9edf7;
	color:#000;
}

.alert .alert-success{
	background:#dff0d8;
}

.alert .alert-danger{
	background:#f2dede;
}

.login-header{
	float: left;
	width: 78%;
	margin-bottom: 16px;
	margin-left: 57px;
}

.copypasterino{
	padding:10px;
	height:50px;
	text-align:center;
	font-size:16px;
	color:#000;
	text-decoration: none;
	background:#fff;
	border:1px solid #efefef;
}
