/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require RRSSB/scss/rrssb
 */


@import 'http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css';
@font-face {
font-family: 'BariolRegular';
src: url('/assets//BariolRegular.eot');
src: local('BariolRegular'), url('/assets/BariolRegular.woff') format('woff'), url('/assets/BariolRegular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: #d8d9db;
  width: 100%;
  height: 100%;
  font-family: 'BariolRegular';
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: #242d38;
  width: 100%;
  height: 80px;
  color: white;
}
#header .logo {
  background: #3792e3;
  width: 280px;
  height: 80px;
  color: #FFF;
  line-height: 86px;
  text-align: center;
  font-size: 70px;
  float: left;
}
#header .userdata {
  float: right;
  height: 40px;
  padding: 20px 20px 0 0;
}
#header .userdata .avatar {
  float: left;
  border-radius: 20px;
  margin-right: 10px;
}
#header .userdata a {
  color: white;
  font-size: 12px;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 280px;
  height: 100%;
  background: #242d38;
  display: inline-block;
  padding-top: 80px;
}
.sidebar a {
  width: 100%;
  padding: 0  0 0 70px;
  line-height: 55px;
  height: 55px;
  float: left;
  color: white;
  font-size: 16px;
  text-decoration: none;
  position: relative;
}
.sidebar a.selected {
  background: #213d57;
}
.sidebar a:hover {
  border-left: 10px solid #3792e3;
  padding-left: 60px;
}
.sidebar a:hover i {
  left: 20px;
}
.sidebar a i {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 30px;
  position: absolute;
  top: 12px;
  left: 30px;
  width: 30px;
  text-align: center;
}
.sidebar a .dashboard_icon:before {
  content: "\f0e4";
}
.sidebar a .finished_icon:before {
  content: "\f0f6";
}
.sidebar a .tips_icon:before {
  content: "\f1c5";
}
.content-container {
  width: 100%;
  padding: 100px 30px 30px 310px;
}
.content-container .btn_create {
  width: 220px;
  height: 200px;
  background: white;
  border: 2px dashed #000;
  margin: 20px;
  color: black;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  text-decoration: none;
  line-height: 190px;
}
.content-container .test {
  width: 220px;
  height: 200px;
  background-color: #ededed;
  margin: 20px;
  display: inline-block;
  vertical-align: top;
  padding: 15px;
  word-break: break-word;
  position: relative;
  overflow:hidden;
}
.content-container .test h3 {
  font-size: 20px;
  margin-bottom: 60px;
}
.content-container .test a {
  margin: 10px 0;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  display: block;
}

.content-container .test .actions{
	background:#3792e3;
	position: absolute;
	bottom:-150px;
	left:0;
	padding:10px;
	width:100%;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	transition: all 300ms ease;
}

.content-container .test:hover .actions{
	display:block;
	bottom:0;
}

.content-container .test a:hover{
	text-decoration: underline;
}

.content-container h1,
.content-container h2 {
  margin-bottom: 15px;
}
.content-container table {
  background: white;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 0;
  border-bottom: 0;
  border-spacing: 0;
  margin-bottom: 15px;
}
.content-container table thead td {
  font-weight: bold;
  background: #f3f3f3;
}
.content-container table td {
  text-align: center;
  padding: 10px 0;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}
.addform {
  background: #FFF;
  padding: 15px;
}
.addform input[type="text"],
.addform input[type="number"],
.addform input[type="email"],
.addform input[type="password"] {
  border: 1px solid #cdcdcd;
  font-size: 15px;
  width: 100%;
  max-width: 300px;
  padding: 5px;
  margin-bottom: 10px;
}
.addform input[type="file"] {
  margin-bottom: 10px;
  font-size: 12px;
  color: #000;
  padding: 10px;
}
.addform input[type="submit"] {
  width: auto;
  background: #3399cc;
  border: 0;
  padding: 10px 15px;
  font-size: 100%;
  color: #fff;
  cursor: pointer;
  transition: background .3s;
  -webkit-transition: background .3s;
}
.addform label {
  font-size: 14px;
  color: #4a4a4a;
  width: 155px;
  display: inline-block;
}
.addform textarea {
  border: 1px solid #cdcdcd;
  display: block;
  height: 100px;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 10px;
  resize: none;
}
.addform .hint {
  display: inline-block;
  margin-left: 10px;
  font-size: 80%;
}
.addform p {
  min-height: 35px;
  line-height: 32px;
}
.addform select {
  margin-bottom: 10px;
}
.addform .glyphtest {
  display: none;
}
.addform .singleImage {
  display: block;
}
.addform .multipleImages {
  display: none;
}
.cancelaccount {
  background: #FFF;
  padding: 15px;
  margin: 15px 0;
}
.alert {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  background: #d9edf7;
  color: #000;
}
.alert .alert-success {
  background: #dff0d8;
}
.alert .alert-danger {
  background: #f2dede;
}
.login {
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -150px 0 0 -200px;
}
.login .logo {
  background: #3792e3;
  width: 100%;
  height: 80px;
  color: #FFF;
  line-height: 86px;
  text-align: center;
  font-size: 70px;
}
.login form {
  background: white;
  padding: 15px;
  min-height: 200px;
}
.login input[type="email"],
.login input[type="password"] {
  width: 100%;
  background: white;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 100%;
}
.login input[type="submit"] {
  width: auto;
  background: #3792e3;
  border: 0;
  padding: 10px 15px;
  font-size: 100%;
  color: #fff;
  cursor: pointer;
  transition: background .3s;
  -webkit-transition: background .3s;
}
.login .form-actions {
  float: left;
  margin-top: 10px;
}
.login a {
  float: right;
  display: inline-block;
  font-size: 14px;
  color: black;
  margin-left: 15px;
  margin-top: 22px;
}
.login.register {
  margin: -180px 0 0 -200px;
}
.login.register form {
  min-height: 270px;
}
.login.password form {
  min-height: 180px;
}
.login.password .form-actions {
  text-align: center;
  float: none;
}

.copypasterino{
  padding:10px;
  height:50px;
  text-align:center;
  font-size:16px;
  color:#000;
  text-decoration: none;
  background:#fff;
  border:1px solid #efefef;
}
