// Place all the styles related to the Usertests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.timer{
    width: 200px;
    position: absolute;
    top: 0px;
    left: 3px;
    height: 200px;
}

.step{
    display:none;
    position: relative;
}

.currentStep{
    display:block;
}

.abresult_container{
	width:600px;
}
.abresult_container img{
	width:48%;
	float:left;
	margin-right:10px;
}
