<h1>
	Make test 
	<%= @association_test.title %>
</h1>

<h2>
	Welk woord associeer je bij de afbeeldingen?
</h2>

<p>
	<% @association_attachments.in_groups_of(2).each do |group| %>
	  <div class="row">
	  	<% group.each do |p| %>
	  		<% if p	%>
	  			<div class="image_frame">
	  				<%= image_tag p.image_url %>
	  			</div>
	  		<% end %>
	  	<% end %>
	  </div>
	<% end %>
</p>

<%= link_to 'End test', association_tests_path, data: { confirm: 'Your input won\'t be recorderd, are you sure?' } %>
